{include file='header.html'}
{$ruta}       
<center>
       <form class="form-inline" action='addalumnos.php' method='post' enctype='multipart/form-data' accept-charset='utf-8'>
  <br/>
  <br/> 
   
  <br/>      
  <div class="form-group">
    <label>Nombre Completo: </label>
    <br/>
    <input class="form-control" id="exampleInputEmail3" placeholder="Nombre y Apellidos" name="datos[nombre]" id="producto" required>
  </div>
  <br/>
  <br/>
  <label>Especialidad: </label>
    <br/>
      <select name="datos[especialidad]" class="form-control" id="exampleInputEmail3" id="producto">
      <option>Ingenieria En Sistemas Computacionales</option>
      <option>Ingenieria Informatica</option>
      <option>Ingenieria Mecatronica</option>
      <option>Ingenieria Ambiental</option>
      <option>Ingenieria Bioquimica</option>
      <option>Ingenieria Gestion Empresarial</option>
      <option>Ingenieria Industrial</option>
      <option>Ingenieria Mecanica</option>
      <option>Ingenieria Electronica</option>
      <option>Ingenieria Quimica</option>
      <option>Licenciatura en Administracion</option>
    </select>
    <br/>
    <br/>
    <div class="form-group">
    <label>Usuario: </label>
    <br/>
    <input class="form-control" id="exampleInputPassword3" placeholder="noControl/RFC" name="datos[usuario]" id="producto" maxlength="13" required>
  </div>
  <br/>
  {$noControl} {$rfc}
  <br/>
  <div class="form-group">
    <label>Contraseña:</label>
    <br/>
    <input type="password" class="form-control" id="exampleInputEmail3" placeholder="Contraseña" name="datos[contrasena]" id="producto" required>
  </div>
  <div class="form-group">
    <label>Confirmar contraseña:</label>
    <br/>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Confirmar contraseña" name="datos[confcontrasena]" id="producto" required>
  </div>
  <br/>
  {$contrasena}
  <br/>
  <br/>
  <button type="submit" class="btn btn-default" name="guardar">Crear</button> </br>
  {$msgusuario}
  <br/>
  <br/>
  <br/>
  <br/>

</form>
</center>
    </body>
</html>
{include file='footer.html'}