{include file='header.html'}
{$ruta}   
<center>
    
       <form class="form-inline" action='addperiodos.php' method='post' enctype='multipart/form-data' accept-charset='utf-8'>
  <div class="form-group">
    <label>Fecha Inicio:</label>
    <br/>
    <input TYPE="date"  class="form-control" id="exampleInputEmail3" name="datos[fechaInicio]" id="producto" require>
  </div>
  <br/>
  <br/>
  <div class="form-group">
    <label>Fecha Final:</label>
    <br/>
    <input TYPE="date"  class="form-control" id="exampleInputEmail3" name="datos[fechaFinal]" id="producto" require>
  </div>
  <br/>
  <br/>
  {$msjfecha}
  <br/>
  <br/>
  <button type="submit" class="btn btn-default" value='Crear' name="crear">Crear</button></br>

</form>
</center>
    </body>
</html>
{include file='footer.html'}