{include file="header.html"}
{$ruta} 

{if isset($msg)}{include file='../mensajes.html'}{/if}

{if isset($tablegrupos)}
	<table class="table table-hover">
		<tr class='info'>
			<th><center>GRUPO</center></th>
			<th><center>SALA</center></th>
			{if $table eq 'grupos'}<th><center>PROMOTOR</center></th>{/if}
			<th><center>UBICACIÓN</center></th>
			<th width="150"><center>LIBRO GRUPAL</center></th>
			<th width="400"><center>HORARIO</center></th>
		</tr>
		{foreach $tablegrupos as $grupo}
			<tr>
				<td style="vertical-align:middle"><center><a href="grupo.php?accion={if isset($bandera)}{$bandera}{else}grupos{/if}&info1={$grupo.letra}&info2={if $table eq 'grupos'}{$grupo.cvepromotor}{/if}{if $table eq 'promotores'}{$promotor}{else}{$grupo.nocontrol}{/if}">
				  {$grupo.letra}
			  </a></center></td>
				<td style="vertical-align:middle"><center>{$grupo.nombre}</center></td>
				{if $table eq 'grupos'}
				  <td style="vertical-align:middle">
				    <center>{$grupo.nombre_promotor}</center>
			    </td>{/if}
				<td style="vertical-align:middle"><center>{$grupo.ubicacion}</center></td>
				<td style="vertical-align:middle"><center>{$grupo.titulo}</center></td>
				<td style="vertical-align:middle"><center>{$grupo.horario}</center></td>
			</tr>
		{/foreach}
	</table>
{/if}
{include file="footer.html"}
