{include file="header.html"}
{$ruta}
<div>
  <table>
    <tr>
      <th>
        <a href="periodos.php">
          Periodos
        </a>
      </th>
    </tr>
    <tr>
      <th>
        <a href="salas.php">
          Salas
        </a>
      </th>
    </tr>
    <tr>
      <th>
        <a href="promotor.php">
          Promotores
        </a>
      </th>
    </tr>
    <tr>
      <th>
        <a href="alumnos.php">
          Alumnos
        </a>
      </th>
    </tr>
    <tr>
      <th>
        <a href="historial.php">
          Historial
        </a>
      </th>
    </tr>
    <tr>
      <th>
        <a href="libros.php">
          Libros
        </a>
      </th>
    </tr>
  </table>
</div>
{include file="footer.html"}
