{include file='header.html'}
{$ruta}
<table class='table table-striped'>
	<tr>
		<td colspan='4' align='right'>
			<a href='libros.php?accion=form_insert&tabla=periodo'>
				<img src='../Images/add.png'/> 
			</a>
		</td>
	</tr> 
</table>
{if isset($msg)}
	<div class="alert alert-{$alert} alert-dismissible" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  		<span aria-hidden="true">&times;</span></button>
	  <strong>¡Aviso!</strong> {$msg}
	</div>
{/if}
{if isset($libros)}
	<div class="page-header">
    <h2>Lista de Libros</h2>
  </div>
	<table class='table table-striped'>
		<tr>		
			<th width="100"><center>CLAVE</center></th>
			<th width="300"><center>AUTOR</center></th>
			<th width="800"><center>TÍTULO</center></th>
			<th width="300"><center>EDITORIAL</center></th>
			<th width="300"><center>PRECIO</center></th>
			<th width="300"><center>ELIMINAR</center></th>
		  <th width="300"><center>ACTUALIZAR</center></th>
		</tr>
	{foreach $libros as $libro}
		<tr>
			{if isset($bandera)}
				<td><center>
					<a href="gruposHistorial.php?info1={$libro.cvelibro}&info2={$libro.fechainicio}">
					{$libro.cvelibro}
					</a></center></td>
			{else}
				<td><center>{$libro.cvelibro}</center></td>
			{/if}
			<td><center>{$libro.autor}</center></td>
			<td><center>{$libro.titulo}</center></td>
			<td><center>{$libro.editorial}</center></td>
			<td><center>{$libro.precio}</center></td>
			<td><center><a href="libros.php?accion=delete&info1={$libro.cvelibro}"> 
				<img src="../Images/cancelar.png">
			</a></center></td>
			<td><center><a href="libros.php?accion=form_update&info2={$libro.cvelibro}"> 
					<img src="../Images/edit.png">
			</a></center></td>
		</tr>
	{/foreach}
</table>
{/if}
{include file='footer.html'}
