{include file="header.html"}
{$ruta}   
<table class='table'>
	<tr><td colspan='4' align='right'>
		<a href='periodos.php?accion=form_insert&tabla=periodo'>
			<img src='../Images/add.png'/> 
		</a>
	</td></tr>
</table>
{if isset($msg)}
	<div class="alert alert-{$alert} alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>¡Aviso! </strong>{$msg}
	</div>
{/if}
{if isset($periodos)}
	<table class='table table-striped'>
		<tr>		
			<th>CLAVE</th>
			<th>FECHA INICIO</th>
			<th>FECHA FINAL</th>
			<th>ELIMINAR</th>
			<th>ACTUALIZAR</th>
		</tr>
	{foreach $periodos as $periodo}
		<tr>
			{if isset($bandera)}
				<td><a href="gruposHistorial.php?info1={$periodo.cveperiodo}&info2={$periodo.fechainicio}">
					{$periodo.cveperiodo}
				</a></td>
			{else}
				<td>{$periodo.cveperiodo}</td>
			{/if}
			<td>{$periodo.fechainicio}</td>
			<td>{$periodo.fechafinal}</td>
			<td><a class="delete" href="periodos.php?accion=eliminar&info1={$periodo.cveperiodo}"> 
				<img src="../Images/cancelar.png">
			</a></td>
			<td><a href="periodos.php?accion=form_update&info2={$periodo.cveperiodo}">
				<img src="../Images/edit.png">
			</a></td>
		</tr>
	{/foreach}
	</table>
{/if}

{include file="footer.html"}