{include file='header.html'}
{$ruta}   
<table class='table table-striped'>
	<tr><td colspan='4' align='right'>
		<a href='promotor.php?accion=form_insert'>
			<img src='../Images/add.png'/> 
		</a>
	</td></tr>
</table>
{if isset($msg)}
	<div class="alert alert-{$alert} alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>¡Aviso!</strong> {$msg}
	</div>
{/if}
{if isset($promotores)}
	<table class='table table-striped'>
		<tr>		
			<th>RFC</th>
			<th>PROMOTOR</th>
			<th>EMAIL</th>
			<th>ESPECIALIDAD</th>
			<th>ELIMINAR</th>
			<th>ACTUALIZAR</th>
			<th>MOSTRAR</th>
		</tr>
	{foreach $promotores as $promotor}
		<tr>
			<td>{$promotor.cveusuario}</td>
			<td>{$promotor.nombre}</td>
			<td>{$promotor.correo}</td>
			<td>{if $promotor.cveespecialidad eq 'O'}{$promotor.Otro}{else}{$promotor.Especialidad}{/if}</td>
			<td><a href="promotor.php?accion=delete&info1={$promotor.cveusuario}">
				<img src="../Images/cancelar.png">
			</a></td>
			<td><a href="promotor.php?accion=form_update&info1={$promotor.cveusuario}">
				<img src="../Images/edit.png">
			</a></td>
			<td><a href="promotor.php?accion=mostrar&info1={$promotor.cveusuario}">
				<img src="../Images/mostrar.png">
			</a></td>
		</tr>
	{/foreach}
	</table>
{/if}
{include file='footer.html'}