{include file='header.html'}
{$ruta}  

{if isset($msg)} {include file='../mensajes.html'} {/if}

<table class='table'>
	{if !isset($cveperiodo)}
		<tr><td colspan='4' align='right'>
			<a href='promotor.php?accion=form_insert'><img src='../Images/add.png'/> </a>
		</td></tr>
	{else}
		<tr><td colspan='4' align='right'>
			<a href='reporte_pdf.php?accion=promotores&info1=1&info2={$cveperiodo}'>
				<h4>Reporte General 
					<img src='../Images/pdf.png' title='Reporte Promotores-Periodos'/>
				</h4>	
		</a></td></tr>
	{/if}
</table>

{if isset($promotores)}
	<table class='table table-hover'>
		<tr class='info'>		
			<th style="vertical-align:middle"><center>RFC</center></th>
			<th style="vertical-align:middle"><center>PROMOTOR</center></th>
			<th style="vertical-align:middle"><center>EMAIL</center></th>
			<th style="vertical-align:middle"><center>ESPECIALIDAD</center></th>
			{if !isset($cveperiodo)}
				<th style="vertical-align:middle"><center>ELIMINAR</center></th>
				<th style="vertical-align:middle"><center>ACTUALIZAR</center></th>
			{/if}
			<th style="vertical-align:middle"><center>GRUPOS</center></th>
			{if isset($cveperiodo)}<th width='150'><center>REPORTE PROMOTOR</center></th>{/if}
		</tr>
	{foreach $promotores as $promotor}
		<tr>
			<td><center>{$promotor.cveusuario}</center></td>
			<td><center>{$promotor.nombre}</center></td>
			<td><center>{$promotor.correo}</center></td>
			<td><center>
				{if $promotor.cveespecialidad eq 'O'}
					{$promotor.Otro}
				{else}
					{$promotor.Especialidad}
				{/if}
			</center></td>
			{if !isset($cveperiodo)}
				<td><center>
					<a class="delete" href="promotor.php?accion=delete&info1={$promotor.cveusuario}">
						<img src="../Images/cancelar.png">
					</a></center></td>
				<td><center><a href="promotor.php?accion=form_update&info1={$promotor.cveusuario}">
					<img src="../Images/edit.png">
				</a></center></td>
			{/if}
			{if isset($cveperiodo)}
				<td><center><a href="promotor.php?accion=mostrar&info1={$promotor.cveusuario}{if isset($cveperiodo)}&info2={$cveperiodo}{/if}">
					<img src="../Images/mostrar.png">
				</a></center></td>
				<td colspan='4' align='right'><center>
					<a href='reporte_pdf.php?accion=promotor&info1=1&info2={$cveperiodo}&info3={$promotor.cveusuario}'>
					<img src='../Images/pdf.png' title='Reporte Promotor-Periodo'/></a>
				<center></td>
			{else}
				<td><center><a href="promotor.php?accion=mostrar&info1={$promotor.cveusuario}{if isset($cveperiodo)}&info2{/if}">
					<img src="../Images/mostrar.png">
				</a></center></td>
			{/if}
		</tr>
	{/foreach}
	</table>
{/if}

{include file='footer.html'}