{include file="header.html"}
{$ruta}   
<table class='table table-striped'>
	<tr><td colspan='4' align='right'>
		<a href='salas.php?accion=form_insert&tabla=sala'>
			<img src='../Images/add.png'/>
		</a>
	</td></tr>
</table>
{if isset($msg)}
	<div class="alert alert-{$alert} alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>¡Aviso!</strong>{$msg}
	</div>
{/if}
{if isset($salones)}
	<table class='table table-striped'>
		<tr>		
			<th>CLAVE SALA</th>
			<th>NOMBRE</th>
			<th>UBICACION</th>
			<th>ELIMINAR</th>
			<th>ACTUALIZAR</th>
		</tr>
	{foreach $salones as $salon}
		<tr>
			<td>{$salon.cvesala}</td>
			<td>{$salon.nombre}</td>
			<td>{$salon.ubicacion}</td>
			<td><a href="salas.php?accion=delete&info1={$salon.cvesala}">
				<img src="../Images/cancelar.png">
			</a></td>
			<td><a href="salas.php?accion=form_update&info2={$salon.cvesala}">
				<img src="../Images/edit.png">
			</a></td>
		</tr>
	{/foreach}
	</table>
{/if}
{include file="footer.html"}