{include file="header.html"}
{$ruta}

<div class="page-header">
  <h3>Mensajes Enviados</h3>
  Grupo: {$grupo}
</div>

{if $datos eq "No se puede acceder a los mensajes"}
	{$datos}
{else}
	<center>
		<table class="table table-striped">
			<tr class="info">
				<th width="400px"><center>INTRODUCCIÓN</center></th>
				<th><center>TIPO</center></th>
				<th><center>FECHA</center></th>
				<th><center>EXPIRACIÓN</center></th>
				<th><center>LEER</center></th>
			</tr>
			{foreach $datos as $mensaje}
			<tr>
				<td style="vertical-align:middle"><center>{$mensaje.introduccion}</center></td>
				<td style="vertical-align:middle"><center>{$mensaje.tipo}</center></td>
				<td style="vertical-align:middle"><center>{$mensaje.fecha}</center></td>
				<td style="vertical-align:middle"><center>{$mensaje.expira}</center></td>
				<td style="vertical-align:middle"><center>
					<a href="msj.php?accion=ver&info={$mensaje.cvemsj}"><img src="../Images/lupa.png"></a>
				</center></td>
			</tr>
		{/foreach}
		</table>
	</center>
{/if}
{include file="footer.html"}