{include file='header.html'}
{$ruta}
<center>

       <form class="form-inline" action='promosala.php' method='post' enctype='multipart/form-data' accept-charset='utf-8'>
  <label>{$periodo}</label>        
  <br/>
  <br/>
  <div class="form-group">
    <label id ="r1">Sala: </label><input type="radio" name="datos[tipo]" onclick ="mostrar()" value="cvesala">
    <label id ="r2">Ubicacion: </label><input type="radio" name="datos[tipo]" onclick ="mostrar()" value="ubicacion"> 
    <label id ="r3">Horario: </label><input type="radio" name="datos[tipo]" onclick ="mostrar()" value="horario"> 
  </div>
<br/>
  <div class="form-group">
    
    <br/>
    {$combosala}
    <br/>
    {$comboubicacion}
    <br/>
    {$combohorario}

  </div>
  <br/>
  <br/>
    <input type="hidden" name="datos[cveperiodo]" value="{$cveperiodo}">
    <button type="submit" class="btn btn-default" value='Registrar' name="Mostrar" {$estado} >Mostrar</button> <br/><br/>
    {$msjboton}

  {$table}
</form>
</center>
    <script>
    var bandera=0;
      function mostrar()
      {
        var test = document.getElementsByName('datos[tipo]');
         if(test[0].checked == true)
          {
            document.getElementById('cvesala').style.display="block";
            document.getElementById('horario').style.display="none";
            document.getElementById('ubicacion').style.display="none";
          }
          if(test[1].checked == true)
          {
           document.getElementById('cvesala').style.display="none";
            document.getElementById('horario').style.display="none";
            document.getElementById('ubicacion').style.display="block";
          }
          if(test[2].checked == true)
          {
            document.getElementById('cvesala').style.display="none";
            document.getElementById('horario').style.display="block";
            document.getElementById('ubicacion').style.display="none";
          }
        
      }
    </script>

    </body>
</html>
{include file='footer.html'}