{include file='header.html'}
<center>
    <h3>
        ¡Bienvenido!
        <br>
            <br/>
        </br>
    </h3>
    <form accept-charset="utf-8" action="cambiacontrasena.php" class="form-inline" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label>
                Usuario:
            </label>
            <br/>
            <input class="form-control" id="producto" name="datos[cveUsuario]" readonly="readonly" value="{$user}">
            </input>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label>
                Contraseña nueva:
            </label>
            <br/>
            <input class="form-control" id="producto" name="datos[contrasena]" placeholder="Password" required="" type="password">
            </input>
        </div>
        <br/>
        <br/>
        <button class="btn btn-default" name="guardar" type="submit" value="cambiar">
            Cambiar
        </button>
    </form>
</center>
{include file='footer.html'}
