{include file='header.html'}
{$ruta}
{if isset($msg)}
	<div class="alert alert-{$alert} alert-dismissible" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  		<span aria-hidden="true">&times;</span></button>
	  <strong>¡Aviso!</strong> {$msg}
	</div>
{/if}
<center>
    <h3>¡Bienvenido! <br> Por favor, inicia sesion. <br/></h3>
       <form class="form-inline" action='login.php' method='post' enctype='multipart/form-data' accept-charset='utf-8'>
  <div class="form-group">
    <label>Usuario:</label>
    <br/>
    <input  class="form-control" id="exampleInputEmail3" placeholder="NoControl/RFC" name="datos[cveUsuario]" id="producto" required maxlength="13">
  </div>
  <br/>
  <br/>
  <div class="form-group">
    <label>Contraseña: </label>
    <br/>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name="datos[contrasena]" id="producto" required >
  </div>
  <br/>
  <br/>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Recordar esta cuenta
    </label>
  </div>
  <button type="submit" class="btn btn-default" value='Login' name="guardar">Sign in</button> </br>
  <label><a href="formcontrasena.php">No recuerdo mi contraseña</a></label>
</form>
</center>
    </body>
</html>
{include file='footer.html'}