{include file='header.html'}
<link rel="stylesheet" type="text/css" href="css/menu.css">
{$ruta}
{if isset($msg)}
	<div class="alert alert-{$alert} alert-dismissible" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  		<span aria-hidden="true">&times;</span></button>
	  <strong>¡Aviso!</strong> {$msg}
	</div>
{/if}
<h3>Selecciona el tipo de cuenta a acceder</h3>
{if isset($roles)}
<nav id="colorNav">
  <ul>
		{foreach $roles as $rol}
			<li id="icon" class="green">
				<a  href="login.php?info={$rol.cverol}" >
					<center><img src="../Images/{if $rol.cverol eq 1}administrador.png{/if}{if $rol.cverol eq 2}promotor.png{/if}{if $rol.cverol eq 3}alumnos.png{/if}">
	    				{if $rol.cverol eq 1}Administrador{/if}
	    				{if $rol.cverol eq 2}Promotor{/if}
	    				{if $rol.cverol eq 3}Alumno{/if}
					</center></a>
			</li>
		{/foreach}
  </ul>
</nav>
{/if}
{include file='footer.html'}